*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/java/com/example/kitchen/instakitchen/Event.java
/app/src/main/java/com/example/kitchen/instakitchen/FavCursorAdapter.java
/app/src/main/java/com/example/kitchen/instakitchen/FavouritesActivity.java
/app/src/main/java/com/example/kitchen/instakitchen/ForgotPassword.java
/app/src/main/java/com/example/kitchen/instakitchen/LoginActivity.java
/app/src/main/java/com/example/kitchen/instakitchen/popup.java
/app/src/main/java/com/example/kitchen/instakitchen/QueryUtils.java
/app/src/main/java/com/example/kitchen/instakitchen/RecipeActivity.java
/app/src/main/java/com/example/kitchen/instakitchen/RecipeLoader.java
/app/src/main/java/com/example/kitchen/instakitchen/ResetPassword.java
/app/src/main/java/com/example/kitchen/instakitchen/search_activity.java
/app/src/main/java/com/example/kitchen/instakitchen/search_result.java
/app/src/main/java/com/example/kitchen/instakitchen/SearchActivityAdapter.java
/app/src/main/java/com/example/kitchen/instakitchen/ShoppingAdapter.java
/app/src/main/java/com/example/kitchen/instakitchen/ShoppingList.java
/app/src/main/java/com/example/kitchen/instakitchen/SLData.java

/app/src/main/java/com/example/kitchen/instakitchen/data/FavContract.java
/app/src/main/java/com/example/kitchen/instakitchen/data/FavDbHelper.java
/app/src/main/java/com/example/kitchen/instakitchen/data/FavProvider.java
/app/src/main/java/com/example/kitchen/instakitchen/data/KitchenIDs.java